<div style="text-align:center">
  <hr>
  <h1><b>ISS Location</b></h1>
  <h2>Latitude: <%= @lat %></h2>
  <h2>Longitude: <%= @lon %></h2>
  <hr>
  
  <a href="<%= root_path %>" class="button [secondary success alert]">Refresh Position</a>
</div>